* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#header {
  padding: 0;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}
#logo {
  padding-bottom: 20px;
  margin: 18px 24px 0 38px;
}
#image {
  width: 53px;
}
.nav-bar {
  z-index: 1;
}

.nav-item {
  font-size: 14px;
  padding-bottom: 16px;
  margin: 20px 10px 0 3px;
  border-bottom: 4px solid transparent;
}

nav.navbar-light .navbar-nav .nav-link.active {
  color: #282c3f;
  letter-spacing: 0.3px;
}
.new {
  color: #ff69b4;
  font-size: 10px;
}

#form {
  border-radius: 5px;
  border: none;
  width: 28%;
  height: 50%;
  background-color: #f5f5f6;
  padding: 5px;
}
.fa-magnifying-glass {
  padding: 6px 12px;
  color: #ced4da;
}

#search {
  background-color: #f5f5f6;
  border: none;
  outline: none;
  width: 85%;
}

#nav2 .nav-item {
  margin-top: 14px;
  padding-bottom: 0;
}

#nav2 .nav-link {
  padding: 0;
}
#home {
  padding: 8px 0;
  width: 10%;
}
.fs-24 {
  font-size: 24px;
}

.men:hover {
  border-bottom: 4px solid #ee5f73;
}

.women:hover {
  border-bottom: 4px solid #fb56c1;
}

.kids:hover {
  border-bottom: 4px solid #f26a10;
}

.home:hover {
  border-bottom: 4px solid #f2c210;
}

.beauty:hover {
  border-bottom: 4px solid #0db7af;
}
.studio:hover {
  border-bottom: 4px solid #ff3f6c;
}
.pointer {
  cursor: pointer;
}
hr {
  width: 90%;
}
.heading {
  padding-bottom: 5px;
}

.heading a:hover {
  color: #ee5f73;
  font-size: 14px;
  font-weight: 600;
}
.heading a {
  color: #ee5f73;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 0 2px;
}

.container-m {
  margin-top: 15px;
  box-shadow: 0 4px 4px #9b9ea1;
  transition: all 0.2s ease-out;
  display: none;
}
.bg-color {
  background-color: #fbfbfb;
}
.men:hover .container-m {
  display: block;
}
.men-dress-details {
  position: absolute;
  top: 100%;
  left: 10%;
  background-color: white;
  box-shadow: 0 0 8px #a6a0a0;
  display: none;
}
#mynavbar .container {
  width: 90%;
}

#mynavbar .studio-details {
  width: 50%;
}
.studio-details {
  position: absolute;
  top: 100%;
  left: 30%;
  background-color: white;
  box-shadow: 0 0 8px #a6a0a0;
  display: none;
}
.studio:hover .studio-details {
  display: block;
}
.nav-item:hover .men-dress-details {
  display: block;
}
